# Environmental variables
.env.*
.env
!.env.example

# Pycache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Testing, coverage, logs
.coverage
coverage/
htmlcov/
*.cover
*.log
*.tmp
*.bak
*.swp
*.DS_Store
.pytest_cache/
.benchmarks/
*.hypothesis/
test-reports/

# IDE -> Code editors
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.pydevproject

# Virtual environments
.venv/
venv/
env/
ENV/
Pipfile.lock
poetry.lock

# Build artefacts
build/
dist/
*.egg-info/
*.eggs/
*.whl
target/
/target

# PyCharm & IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/


# Lua
# Ignore LuaRocks generated directories
/src/

# Ignore LuaRocks files (if present)
*.rock
*.tar.gz
